:root {
	/* Colors */
	--main-color: #00587d;
	--green-color: #00ff00;
}
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}